/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{padding: 0; margin: 0; font-family: 'Quicksand', sans-serif;}

header{width: 100%;}

.headerTop{
    /* Dimensões */
    height: 35px;
    /* Estilo */
    background-color: #232323;
}
    .headerTopContainer{
        /* Dimensões */
        width: 90%; height: 100%;
        /* Posição */
        margin: auto;
    }
        .info{
            /* Dimensões */
            margin-right: 10px;
            /* Posição */
            position: relative;
            top: 50%;
            transform: translate(0%, -50%);
            display: inline-block;
            /* Estilo */
            color: white;
            font-weight: 500;
            font-size: 15px;
        }
        .info svg{
            /* Posição */
            vertical-align: middle;
        }
            .infoAccount{
                /* Posição */
                float: right;
                /* Estilo */
                text-decoration: none;
            }

.headerMiddle{
    /* Dimensões */
    height: 75px;
    /* Estilo */
    background-color: #1D1D1D;
    border-bottom: 2px solid #055DE8;
}
    .headerMiddleContainer{
        /* Dimensões */
        width: 90%; height: 100%;
        /* Posição */
        margin: auto;
    }
        .logo{
            /* Posição */
            position: relative;
            top: 50%;
            transform: translate(0%, -50%);
            float: left;
        }
        .searchbar{
            /* Posição */
            position: relative;
            top: 50%; left: 32%;
            transform: translate(-50%, -50%);
            float: left;
        }
            .searchbar input{
                /* Dimensões */
                padding: 8px;
                /* Estilo */
                font-size: 0.9em;
                border: none;
                outline: none;
            }
            .searchbar input[type="text"]{
                /* Dimensões */
                width: 350px;
                /* Estilo */
                border-radius: 50px 0px 0px 50px;
            }
            .searchbar input[type="submit"]{
                /* Estilo */
                cursor: pointer;
                color: white;
                font-weight: 600;
                background-color: #055DE8;
                border-radius: 0px 50px 50px 0px;
            }
        .icons{
            /* Posição */
            position: relative;
            top: 50%;
            transform: translate(0%, -50%);
            float: right;
            /* Estilo */
        }
            .icons a{
                /* Dimensões */
                margin-left: 25px;
                /* Estilo */
                text-decoration: none;
            }

.headerBottom{
    /* Dimensões */
    height: 40px;
    margin-bottom: 40px;
    /* Estilo */
    box-shadow: 0px 1px 5px #929090;
}
    .headerBottomContainer{
        /* Dimensões */
        width: 90%; height: 100%;
        /* Posição */
        margin: auto;
    }
        .headerBottomContainer ul{
            /* Posição */
            position: relative;
            top: 50%;
            transform: translate(0%, -50%);
            /* Estilo */
            list-style: none;
        }
            .headerBottomContainer ul li{
                /* Posição */
                display: inline-block;
            }
                .headerBottomContainer ul li a{
                    /* Dimensões */
                    padding-bottom: 8px;
                    margin-right: 15px;
                    /* Estilo */
                    text-decoration: none;
                    color: black;
                    font-weight: 500;
                    font-size: 15px;
                }
                .headerBottomContainer ul li:hover a{
                    color: #929090; 
                    border-bottom: 2px solid #929090;
                }